# Ignore all files and directories that are not needed for the Docker image
*

# Except the Go application binary
!writeout

# Except the Go module files
!go.mod
!go.sum

# Except the Dockerfile
!Dockerfile
