# Ignore all files and directories that are not needed for the Git repository
*

# Except the source code files
!*.go

# Except the Go module files
!go.mod
!go.sum

# Except the Docker-related files
!Dockerfile
!.dockerignore
